.list{
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.checkboxContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.checkboxContainer input{
    opacity: 0;
    position: absolute;
}

.checkmark{
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    display: inline-block;
}

.checkboxContainer:hover input ~ .checkmark{
    background-color: #ccc;
}

.checkboxContainer input:checked ~ .checkmark{
    background-color: #2ecc71;
}