.item{
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    list-style: none;
}

.item form{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.item span{
    flex-grow: 1;
    cursor: pointer;
    font-size: 1.1rem;
}

.item span:hover{
    color: #3498db;
    text-decoration: underline;
}